<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="../static/css/autoComplete.min.css" th:href="@{/css/autoComplete.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/all.min.css" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" href="../static/css/all.min.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/all.min.css" th:href="@{/css/footer.css}">
</head>
<body>
</body>
</html>