<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <link rel="stylesheet" href="../static/css/registration.css" th:href="@{/css/book.css}">
        <script src="https://js.stripe.com/v3/" th:src="@{https://js.stripe.com/v3/}"></script>
    </div>
</head>
<body>
<div th:fragment="content" class="container">
    <div class="row mt-4">
        <div class="col-12" th:if="${param.success} != null">
            <div class="alert alert-success text-center" role="alert">
                Книга успешно куплена!
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img class="book-img mb-3" src="#" width="100%"
                             th:src="@{/img/{bookImg}.jpg(bookImg = ${book.image})}" alt="Обложка"/>
                        <form action="/charge" th:action="@{/charge}" method="post" id="checkout-form">
                            <input type='hidden' th:value='${book.price}' name='amount'/>
                            <input type='hidden' th:value='${book.id}' name='bookId'/>
                            <script th:if="${book.price > 0}"
                                    src='https://checkout.stripe.com/checkout.js'
                                    class='stripe-button'
                                    th:attr='data-key=${stripePublicKey},
                                    data-amount=${book.price*100}'
                                    data-currency="rub"
                                    data-name='BookЛя'
                                    data-image='/img/owl-icon.jpg'
                                    data-description='Покупка книги'
                                    data-locale='auto'
                                    data-zip-code='false'>
                            </script>
                            <button type="submit" class="btn btn-success btn-block"
                                    th:if="${#authentication.getName()} != anonymousUser and ${alreadyBought} == false">Купить за <span
                                    th:text="${book.price}"></span> руб.
                            </button>
                            <a href="/ulogin" th:href="@{/ulogin}" th:if="${#authentication.getName()} == anonymousUser and ${alreadyBought} == false"
                               class="btn btn-success btn-block">Купить за <span th:text="${book.price}"></span> руб.
                            </a>
                            <a href="#" class="btn btn-block btn-outline-info disabled" disabled th:if="${alreadyBought} == true">Читать</a>
                        </form>
                    </div>
                    <div class="col-12 col-md-8">
                        <h1 th:text="${book.title}"></h1>
                        <div class="rating mb-2">
                            <span th:with="ratingLoop=${T(Math).floor(book.rating)}, ratingEmpty=5-${ratingLoop}, ratingDec=${book.rating} % 1 &gt; 0.5 ? 2 : 1"
                                  class="stars mr-2">
                                <span class="full-stars"><i th:if="${ratingLoop} &gt; 0.0"
                                                            th:each="i : ${#numbers.sequence(0, ratingLoop-1)}"
                                                            class="fas fa-star"></i></span>
                                <i th:if="${book.rating} % 1 &gt; 0.5" class="fas fa-star-half-alt"></i>
                                <span class="empty-stars"><i
                                        th:each="i : ${#numbers.sequence(0, ratingEmpty - ratingDec)}"
                                        class="far fa-star"></i></span>
                            </span>
                            <span th:text="${book.rating}"></span>
                        </div>
                        <div class="desc-line">
                            Автор: <span th:text="${book.author}"></span>
                        </div>
                        <div class="desc-line">
                            Издатель: <span th:text="${book.publisher}"></span>
                        </div>
                        <div class="desc-line">
                            Жанр: <span th:text="${book.genre}"></span>
                        </div>
                        <div class="desc-line">
                            Год: <span th:text="${book.year}"></span>
                        </div>
                        <div class="desc-line mb-4">
                            Дата поступления: <span th:text="${#dates.format(book.createdAt, 'dd-MM-yyyy')}"></span>
                        </div>
                        <h4>О книге:</h4>
                        <p th:text="${book.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts"></div>
</body>
</html>