<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head"></div>
</head>
<body>
<div th:fragment="content" class="row">
    <p>This is the home page</p>
    <form action="#" th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <a href="/registration" th:href="@{/registration}" class="btn btn-block btn-outline-info">Регистрация</a>
</div>

<div th:fragment="scripts"></div>
</body>
</html>