<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head(title=${title})"></th:block>
    <th:block th:include="${view} :: head"></th:block>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="${view} :: content"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <th:block th:include="fragments/scripts :: scripts"></th:block>
    <th:block th:include="${view} :: scripts"></th:block>
</body>
</html>