<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <link rel="stylesheet" href="#" th:href="@{/css/books.css}">
    </div>
</head>
<body>
<div th:fragment="content" class="container">
    <div class="row mt-4 mb-2">
        <div class="col-12">
            <h1>Поиск</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card w-100">
                <div class="card-body" th:classappend="${books.totalElements} == 0 ? 'no-books'">
                    <h4 class="text-center" th:unless="${books.totalElements} > 0">Книги не найдены</h4>
                    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5" th:if="${books.totalElements} > 0">
                        <div class="col mb-4" th:each="book : ${books}">
                            <a href="#" th:href="@{/books/{id}(id = ${book.id})}">
                                <div class="book p-2">
                                    <img class="book-photo"
                                         th:src="@{/img/{imgName}.jpg(imgName = ${book.image})}" width="100%"/>
                                    <div class="rating mb-2">
                                                        <span th:with="ratingLoop=${T(Math).floor(book.rating)}, ratingEmpty=5-${ratingLoop}, ratingDec=${book.rating} % 1 &gt; 0.5 ? 2 : 1"
                                                              class="stars mr-2">
                                                            <span class="full-stars"><i th:if="${ratingLoop} &gt; 0.0"
                                                                                        th:each="i : ${#numbers.sequence(0, ratingLoop-1)}"
                                                                                        class="fas fa-star"></i></span>
                                                            <i th:if="${book.rating} % 1 &gt; 0.5"
                                                               class="fas fa-star-half-alt"></i>
                                                            <span class="empty-stars"><i
                                                                    th:each="i : ${#numbers.sequence(0, ratingEmpty - ratingDec)}"
                                                                    class="far fa-star"></i></span>
                                                        </span>
                                    </div>
                                    <div class="book-title" th:text="${book.title}"></div>
                                    <div class="book-author" th:text="${book.author}"></div>
                                    <div class="book-price mt-2">
                                        <span th:text="${book.price}"></span> руб.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <ul class="pagination d-block text-center"
                th:with="currentPage=${param.p} != null ? ${T(Integer).parseInt(param.p[0]) + 1} : 1">
                <li class="page prev-page" th:if="${currentPage} > 1">
                    <a href="#"
                       th:href="@{/books/search(text=${param.text}, p=${currentPage}-2)}">«</a>
                </li>
                <th:block th:if="${currentPage} > 3">
                    <th:block th:if="${books.totalPages} - ${currentPage} >= 3">
                        <li class="page">
                            <a href="#" th:href="@{/books/search(text=${param.text}, p=0)}">1</a>
                        </li>
                        <li class="page empty">
                            <a>...</a>
                        </li>
                        <li class="page"
                            th:each="page : ${#numbers.sequence(currentPage-1, currentPage+1)}"
                            th:classappend="${currentPage} == ${page} ? active">
                            <a href="#" th:href="@{/books/search(text=${param.text}, p=${page}-1)}"
                               th:text="${page}"></a>
                        </li>
                        <li class="page empty">
                            <a>...</a>
                        </li>
                        <li class="page">
                            <a href="#"
                               th:href="@{/books/search(text=${param.text}, p=${books.totalPages}-1)}"
                               th:text="${books.totalPages}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${books.totalPages} - ${currentPage} < 3">
                        <li class="page">
                            <a href="#" th:href="@{/books/search(text=${param.text}, p=0)}">1</a>
                        </li>
                        <li class="page empty">
                            <a>...</a>
                        </li>
                        <li class="page"
                            th:each="page : ${#numbers.sequence(books.totalPages - 3, books.totalPages)}"
                            th:classappend="${currentPage} == ${page} ? active">
                            <a href="#" th:href="@{/books/search(text=${param.text}, p=${page}-1)}"
                               th:text="${page}"></a>
                        </li>
                    </th:block>
                </th:block>

                <th:block th:if="${currentPage} <= 3">
                    <th:block th:if="${books.totalPages} > 5">
                        <li class="page" th:each="page : ${#numbers.sequence(1, 4)}"
                            th:classappend="${currentPage} == ${page} ? active">
                            <a href="#"
                               th:href="@{/books/search(text=${param.text}, p=${page}-1)}"
                               th:text="${page}"></a>
                        </li>
                        <li class="page empty">
                            <a>...</a>
                        </li>
                        <li class="page">
                            <a href="#"
                               th:href="@{/books/search(text=${param.text}, p=${books.totalPages}-1)}"
                               th:text="${books.totalPages}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${books.totalPages} <= 5 and ${books.totalPages} != 0">
                        <li class="page" th:each="page : ${#numbers.sequence(1, books.totalPages)}"
                            th:classappend="${currentPage} == ${page} ? active">
                            <a href="#"
                               th:href="@{/books/search(text=${param.text}, p=${page}-1)}"
                               th:text="${page}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${books.totalPages} == 0">
                        <li class="page active">
                            <a href="#" th:href="@{/books/search(text=${param.text}, p=0)}">1</a>
                        </li>
                    </th:block>
                </th:block>

                <li class="page next-page" th:if="${currentPage} < ${books.totalPages}">
                    <a href="#"
                       th:href="@{/books/search(text=${param.text}, p=${currentPage})}">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="scripts"></div>
</body>
</html>