<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <link rel="stylesheet" href="#" th:href="@{/css/books.css}">
    </div>
</head>
<body>
<div th:fragment="content" class="container">
    <div class="row mt-4 mb-2">
        <div class="col-12">
            <h1>Мои книги</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Купленные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Избранные</a>
                </li>
            </ul>

            <div class="card w-100">
                <div class="card-body" th:classappend="${#lists.size(books)} == 0 ? 'no-books'">
                    <h4 class="text-center" th:unless="${#lists.size(books)} > 0">Вы пока не купили ни одной книги</h4>
                    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5" th:if="${#lists.size(books)} > 0">
                        <div class="col mb-4" th:each="book : ${books}">
                            <a href="#" th:href="@{/books/{id}(id = ${book.id})}">
                                <div class="book p-2">
                                    <img class="book-photo"
                                         th:src="@{/img/{imgName}.jpg(imgName = ${book.image})}" width="100%"/>
                                    <div class="rating mb-2">
                                                        <span th:with="ratingLoop=${T(Math).floor(book.rating)}, ratingEmpty=5-${ratingLoop}, ratingDec=${book.rating} % 1 &gt; 0.5 ? 2 : 1"
                                                              class="stars mr-2">
                                                            <span class="full-stars"><i th:if="${ratingLoop} &gt; 0.0"
                                                                                        th:each="i : ${#numbers.sequence(0, ratingLoop-1)}"
                                                                                        class="fas fa-star"></i></span>
                                                            <i th:if="${book.rating} % 1 &gt; 0.5"
                                                               class="fas fa-star-half-alt"></i>
                                                            <span class="empty-stars"><i
                                                                    th:each="i : ${#numbers.sequence(0, ratingEmpty - ratingDec)}"
                                                                    class="far fa-star"></i></span>
                                                        </span>
                                    </div>
                                    <div class="book-title" th:text="${book.title}"></div>
                                    <div class="book-author" th:text="${book.author}"></div>
                                    <div class="book-price mt-2">
                                        <span th:text="${book.price}"></span> руб.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="scripts"></div>
</body>
</html>